<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h2 class="w3-padding-64" style="margin-top:1px"><b>Department of<br>ISE</b></h2>
  </div>
  <div class="w3-bar-block">
    <a href="/" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a>
    <a href="/addstudent" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Add Student</a> 
    <a href="/addhigher" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Add Higher</a> 
    <a href="/addcompany" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Add Company</a> 
    <a href="/showcompany" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Show Company</a> 
    <a href="/showstudent" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Show Student</a>
    <a href="/showhigher" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Show Higher</a> 
    <a href="/showall" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Show All</a>
  </div>
</nav>
<div class="center">
<div class="card" style="max-width: 50%; margin-left: 400px">
<h5 class="card-header">Student Details</h5>
<div class="card-body">
<form name="add-placed" method="POST" action="addhigher">
    <label for="USN">USN</label>
    <input type="text" class="form-control" name="student_USN" placeholder="Enter Student USN">
    <label for="Student_Name">Student Name</label>
    <input type="text" class="form-control" name="student_name" placeholder="Enter student name">
    <label for="Company_name">University</label>
    <input type="text" class="form-control" name="university" placeholder="Enter University">
    <label for="Year_Of_Passing">Year Of Passing</label>
    <input type="text" class="form-control" name="year_of_passing" placeholder="Enter The Year Of Passing">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</div>
</div>