<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h2 class="w3-padding-64" style="margin-top:1px"><b>Department of<br>ISE</b></h2>
  </div>
  <div class="w3-bar-block">
    <a href="/" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a>
    <a href="/addstudent" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Add Student</a> 
    <a href="/addhigher" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Add Higher</a> 
    <a href="/addcompany" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Add Company</a> 
    <a href="/showcompany" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Show Company</a> 
    <a href="/showstudent" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Show Student</a>
    <a href="/showhigher" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Show Higher</a> 
    <a href="/showall" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Show All</a>
  </div>
</nav>
<div id="content" style = "margin-left:350px; color:white; max-width:100%; overflow-y: scroll; height:100%; ">
<table class="table table-striped">
    <tr>
    <th>
        <td scope="col" >USN</td>
        <td scope="col" >NAME</td>
        <td scope="col" >DOB</td>
        <td scope="col" >GENDER</td>
        <td scope="col" >EMAIL</td>
        <td scope="col" >DISTRICT</td>
        <td scope="col" >STATE</td>
        </br>
                <td scope="col">10th SCHOOL</td>
                <td scope="col">10th BOARD</td>
                <td scope="col">10th DISTRICT</td>
                <td scope="col">10th STATE</td>
                <td scope="col">10th YEAR OF PASSING</td>
                <td scope="col">10th MARKS</td>
        </br>
                <td scope="col">12th SCHOOL</td>
                <td scope="col">12th BOARD</td>
                <td scope="col">12th DISTRICT</td>
                <td scope="col">12th STATE</td>
                <td scope="col">12th YEAR OF PASSING</td>
                <td scope="col">12th MARKS</td>
        </br>
                <td scope="col">BE CGPA</td>
                <td scope="col">BACKLOGS</td>
                <td scope="col">YEAR OF PASSING</td>
                <td scope="col">COMPANY LEVEL</td>
     </th> 
</tr>
    {{#each student}}
    <tr scope="row">    
        <td>
            {{this.student_USN}}
        </td>
        <td>
            {{this.student_name}}
        </td>
        <td>
            {{this.student_dob}}
        </td>
        <td>
            {{this.student_gender}}
        </td>
        <td>
            {{this.student_email}}
        </td>
        <td>
            {{this.student_place}}
        </td>
        <td>
            {{this.student_state}}
        </td>
        <td>
            {{this.student_10_school}}
        </td>
        <td>
            {{this.student_10_board}}
        </td>
        <td>
            {{this.student_10_place}}
        </td>
        <td>
            {{this.student_10_state}}
        </td>
        <td>
            {{this.student_10_yearofpassing}}
        </td>
        <td>
            {{this.student_10_cgp}}
        </td>
        <td>
            {{this.student_12_school}}
        </td>
        <td>
            {{this.student_12_board}}
        </td>
        <td>
            {{this.student_12_place}}
        </td>
        <td>
            {{this.student_12_state}}
        </td>
        <td>
            {{this.student_12_cgp}}
        </td>
        <td>
            {{this.student_BE_cgp}}
        </td>
        <td>
            {{this.student_backlogs}}
        </td>
        <td>
            {{this.student_BE_yearofpassing}}
        </td>
        <td>
            {{this.company_level}}
        </td>
    </tr>
    {{/each}}
 
    {{!-- </tr>
    <tr>
        <td><a href=' '><button class="btn btn-primary">update</button></a></td>
        <td><a href='/delete?student_USN=this.student_USN '><button class="btn btn-primary">delete</button></a></td>
    </tr>
    <tr> --}}

        <td><a href='/showall'><button class="btn btn-primary">go back</button></a></td>
     {{!-- <td><a titlt="print screen" alt="print screen" onclick="window.print();"><button class="btn btn-primary">save</button></a></td> --}}
    </tr>
</table>

