<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h2 class="w3-padding-64" style="margin-top:1px"><b>Department of<br>ISE</b></h2>
  </div>
  <div class="w3-bar-block">
    <a href="/" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a>
    <a href="/addstudent" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Add Student</a> 
    <a href="/addhigher" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Add Higher</a> 
    <a href="/addcompany" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Add Company</a> 
    <a href="/showcompany" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Show Company</a> 
    <a href="/showstudent" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Show Student</a>
    <a href="/showhigher" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Show Higher</a> 
    <a href="/showall" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Show All</a>
  </div>
</nav>
<form name="add-student" method="POST" action="showstudent"style = "margin-left:350px;">
    <label for="CGP" style = "font-size: 20px;color: navajowhite;"><b>10th CGP</b></label>
    <input type="text" class="form-control" style="width:50%;"name="student_10_cgp" placeholder="Enter 10th CGP" value="0">
    <label for="CGP" style = "font-size: 20px;color: navajowhite;"><b>12th CGP</b></label>
    <input type="text" class="form-control"style="width:50%;" name="student_12_cgp" placeholder="Enter 12th CGP" value="0">
    <label for="CGP" style = "font-size: 20px;color: navajowhite;"><b>BE CGP</b></label>
    <input type="text" class="form-control" style="width:50%;"name="student_BE_cgp" placeholder="Enter BE CGP" value="0">
    <label for="Backlogs" style = "font-size: 20px;color: navajowhite;"><b>Backlogs</b></label>
    <input type="text" class="form-control"style="width:50%;" name="student_backlogs" placeholder="Enter Number Of Backlogs" value="0">
    <label for="Company_Level" style = "font-size: 20px;color: navajowhite;"><b>Company Level</b></label>
    <input type="text" class="form-control"style="width:50%;" name="company_level" placeholder="Enter Company Level">
    <label for="Year Of Passing" style = "font-size: 20px;color: navajowhite;"><b>Year Of Passing</b></label>
    <input type="text" class="form-control"style="width:50%;" name="student_BE_yearofpassing" placeholder="Enter The Year Of Passing">
    <button type="submit" class="btn btn-primary"style = "color: #fff;background-color: #e21d1d;border-color: #e21d1d;margin-top:10px;">Submit</button>
</form>