<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h2 class="w3-padding-64" style="margin-top:1px"><b>Department of<br>ISE</b></h2>
  </div>
  <div class="w3-bar-block">
    <a href="/" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a>
    <a href="/addstudent" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Add Student</a> 
    <a href="/addhigher" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Add Higher</a> 
    <a href="/addcompany" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Add Company</a> 
    <a href="/showcompany" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Show Company</a> 
    <a href="/showstudent" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Show Student</a>
    <a href="/showhigher" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Show Higher</a> 
    <a href="/showall" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Show All</a>
  </div>
</nav>
<div id="content"style="max-width:65%; margin-left:400px; color:#f8f9fa;">
<table class="table table-striped" >
    <tr>
        <th scope="col">USN</th>
        <th scope="col">NAME</th>
        <th scope="col">10th MARKS</th>
        <th scope="col">12th MARKS</th>
        <th scope="col">BE CGPA</th>
        <th scope="col">BACKLOGS</th>
        <th scope="col">YEAR OF PASSING</th>
    </tr> 

    {{#each student}}
    <tr scope="row">    
        <td>
            {{this.student_USN}}
        </td>
        <td>
            {{this.student_name}}
        </td>
        <td>
            {{this.student_10_cgp}}
        </td>
        <td>
            {{this.student_12_cgp}}
        </td>
        <td>
            {{this.student_BE_cgp}}
        </td>
        <td>
            {{this.student_backlogs}}
        </td>
        <td>
            {{this.student_BE_yearofpassing}}
        </td>
    </tr>
    {{/each}}
 
    </tr>
    <tr>
        <td><a href='/showstudent'><button class="btn btn-primary">go back</button></a></td>
        <td><a titlt="print screen" alt="print screen" onclick="window.print();"><button class="btn btn-primary">save</button></a></td>
        {{!-- <td><input type='button' id='btnExport' value='Export as XLS'></td> --}}
    </tr>
</table>
    {{!-- <script type='text/javascript'>
        $(document).ready(function()
        {
            $("#btnExport").click(function(e)
            {
                var path = 'data:application/vnd.ms-excel,' + encodeURIComponent($('#data').html());
                window.open(path);

                e.preventDefault();
            });
        });
    </script> --}}

