<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h2 class="w3-padding-64" style="margin-top:1px"><b>Department of<br>ISE</b></h2>
  </div>
  <div class="w3-bar-block">
    <a href="/" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a>
    <a href="/addstudent" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Add Student</a> 
    <a href="/addhigher" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Add Higher</a> 
    <a href="/addcompany" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Add Company</a> 
    <a href="/showcompany" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Show Company</a> 
    <a href="/showstudent" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Show Student</a>
    <a href="/showhigher" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Show Higher</a> 
    <a href="/showall" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Show All</a>
  </div>
</nav>

<div class="main">
<div class="center">
<div class="card" style="max-width: 50rem; opacity:0.5;">
<h5 class="card-header">Student Details</h5>
<div class="card-body">
<form name="add-student" method="POST" action="addstudent" >
  <div class="form-group">
    <label for="USN">Student USN</label>
    <input type="text" style="text-transform:uppercase" class="form-control" name="student_USN" placeholder="Enter USN"> 
  </div>
  <div class="form-group">
    <label for="Name">Student Name</label>
    <input type="text" style="text-transform:uppercase" class="form-control" name="student_name" placeholder="Enter Name">
  </div>
    <div class="form-group">
    <label for="DOB">Date Of Birth</label>
    <input type="Date" class="form-control" name="student_dob" placeholder="Enter Date Of Birth">
  </div>

   <div class="form-group">
      <label for="Gender">Gender</label>
      <select name="student_gender" class="form-control">
        <option>Male</option>
        <option>Female</option>
      </select>
    </div>

   <div class="form-group">
    <label for="Email">Student Email</label>
    <input type="text" style="text-transform:uppercase" class="form-control" name="student_email" placeholder="Enter Email">
  </div>
   <div class="form-group">
    <label for="Place">Student Place</label>
    <input type="text" style="text-transform:uppercase" class="form-control" name="student_place" placeholder="Enter Place">
  </div>
   <div class="form-group">
    <label for="State">State</label>
    <input type="text" style="text-transform:uppercase" class="form-control" name="student_state" placeholder="Enter State">
  </div>
     <div class="form-group">
    <label for="Phone">Student Phone</label>
    <input type="text" style="text-transform:uppercase" class="form-control" name="student_phno" placeholder="Enter Phone Number">
  </div>


  <label>10th Details</label>
  <div class="row">
    <div class="col">
         <label for="year of passing">Year Of Passing</label>
    <input type="text" class="form-control" name="student_10_yearofpassing" placeholder="Enter Year Of Passing">
    </div>
    <div class="col">
           <label for="CGP">10th CGP</label>
    <input type="text" class="form-control" name="student_10_cgp" placeholder="Enter 10th CGP">
    </div>
  </div>
  <div class="row">
    <div class="col">
         <label for="School">School Name</label>
    <input type="text" style="text-transform:uppercase" class="form-control" name="student_10_school" placeholder="Enter School Name">
    </div>
    <div class="col">
           <label for="Place">Place</label>
    <input type="text" style="text-transform:uppercase" class="form-control" name="student_10_place" placeholder="Enter Place">
    </div>
  </div>
  <div class="row">
    <div class="col">
          <label for="State">State</label>
    <input type="text" style="text-transform:uppercase" class="form-control" name="student_10_state" placeholder="Enter State">
    </div>
    <div class="col">
           <label for="Board">Board</label>
    <input type="text" style="text-transform:uppercase" class="form-control" name="student_10_board" placeholder="Enter Board">
    </div>
  </div>
  <label>12th Details</label>
    <div class="row">
    <div class="col">
         <label for="year of passing">Year Of Passing</label>
    <input type="text" class="form-control" name="student_12_yearofpassing" placeholder="Enter Year Of Passing">
    </div>
    <div class="col">
           <label for="CGP">12th CGP</label>
    <input type="text" class="form-control" name="student_12_cgp" placeholder="Enter 10th CGP">
    </div>
  </div>
  <div class="row">
    <div class="col">
         <label for="School">School Name</label>
    <input type="text" style="text-transform:uppercase" class="form-control" name="student_12_school" placeholder="Enter School Name">
    </div>
    <div class="col">
           <label for="Place">Place</label>
    <input type="text" style="text-transform:uppercase" class="form-control" name="student_12_place" placeholder="Enter Place">
    </div>
  </div>
  <div class="row">
    <div class="col">
          <label for="State">State</label>
    <input type="text" style="text-transform:uppercase" class="form-control" name="student_12_state" placeholder="Enter State">
    </div>
    <div class="col">
           <label for="Board">Board</label>
    <input type="text" style="text-transform:uppercase" class="form-control" name="student_12_board" placeholder="Enter Board">
    </div>
  </div>
  <label>BE Details</label>
   <div class="row">
    <div class="col">
              <label for="CGP">BE CGP</label>
    <input type="text" class="form-control" name="student_BE_cgp" placeholder="Enter BE CGP">
    </div>
    <div class="col">
            <label for="Backlogs">Backlogs</label>
    <input type="text" class="form-control" name="student_backlogs" placeholder="Enter Number Of Backlogs">
    </div>
  </div>
   <div class="form-group">
      <label for="Year Of Passing">Year Of Passing</label>
    <input type="text" class="form-control" name="student_BE_yearofpassing" placeholder="Enter Year Of Passing">
   </div>
   </div>
</div>
<div class=center>
<button type="submit" class="btn btn-primary" >Submit</button>
</div>
</form>
</div>
</div>